@import url('__title/form__title.css');
@import url('__input-text/form__input-text.css');
@import url('__submit/form__submit.css');

.form {
  display: flex;
  flex-direction: column;
  padding: 36px;
}

@media screen and (max-width: 470px) {
  .form {
    padding: 24px;
  }
}