@import url('__item/elements__item.css');
@import url('__img/elements__img.css');
@import url('__info/elements__info.css');
@import url('__title/elements__title.css');
@import url('__like-btn/elements__like-btn.css');

.elements {
  list-style: none;
  margin: 0;
  padding: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

@media screen and (max-width: 920px) {
  .elements {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 768px) {
  .elements {
    padding-top: 36px;
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: 100%;
  }
}

